.logo {
    width:50vh;
}

body {
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    align-items:center;
}

.buttons {
    width:100vw;
    height:20vh;

    display:flex;
    justify-content:space-around;
    align-content:center;
}
button {
    width: 40vh;
    height: 15vh;

    border-radius: 4em;

    color: var(--text-color);
    background: var(--dark-color);
    font-family: "Olivers Barney";
    font-size: 5vh;

    border: solid 5px var(--secondary-color);
    transition-duration: 500ms;

    cursor: url("../assets/images/SunBirdDesignsLogo.png");
}

button:hover {
    border-color: var(--primary-color);
}

.logotext {
    font-family:"Falcon Punch";

    font-size:10vh;
    color:transparent;
    
    background-clip: text;
    background-image: linear-gradient(90deg,var(--primary-color), var(--secondary-color));
}